@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

header h1 {
  max-width: 669px;
  background-image: linear-gradient(to right, #00f 11%, #003da5 100%);
  font-family: Montserrat;
  font-size: 34px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.91;
  letter-spacing: normal;
  text-align: center;
  margin: 0 auto;
  padding: 5px 0;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ============ ELEMENTS GLOBAL ============ */

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
}

.btn_yellow {
  border: none;
  background-color: #ffcb05;
  color: #383c45;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: normal;
  text-align: center;
  padding: 10px 20px;
  border-radius: 40px;
}

.justify-content-end {
  justify-content: end;
}

/* ============ IMAGES ============ */

.logo_laposte {
  max-width: 75px;
  display: block;
}

.logo_laposte_sticky {
  max-width: 169px;
  display: none;
}

.lidentite_numerique_bleu {
  max-width: 197px;
}

/* ============ MENU ============ */

.box_nav_logo_left {
  width: 33%;
}

.box_nav_logo_middle {
  width: 33%;
  display: flex;
  justify-content: center;
}

.box_nav_right {
  width: 33%;
  display: flex;
  justify-content: end;
}

.link_pro {
  display: block;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #00f;
  text-decoration: none;
  margin-right: 25px;
}

.container_nav {
  border-top: 10px solid #ffcb05;
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 26px 50px;
  background-color: #fff;
  z-index: 100;
}

.container_connect {
  display: flex;
  align-items: center;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 23px 0 0 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  position: relative;
}

.li_menu a,
.li_menu a:visited {
  display: block;
  padding: 0 30px;
  line-height: 70px;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: left;
  color: #383c45;
  text-decoration: none;
}

.li_menu a:not(:only-child):after,
.li_menu a:visited:not(:only-child):after {
  border-style: solid;
  border-color: #00f;
  border-radius: 0px 3px 0px 0px;
  border-width: 2px 2px 0 0;
  content: "";
  display: inline-block;
  height: 12px;
  left: 11px;
  top: -2px;
  position: relative;
  transform: rotate(134deg);
  width: 12px;
}

.li_sub_menu {
  width: 100%;
}

.li_sub_menu a {
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: #383c45;
  padding: 0;
}

.li_sub_menu a:hover {
  position: relative;
  text-decoration: underline #ffcb05;
  text-decoration-thickness: 3px;
}

.nav-dropdown {
  width: 100%;
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  margin-top: 13px;
  border-radius: 20px;
  box-shadow: 0 0 30px 10px rgba(255, 249, 230, 0.8);
  background-color: #fff;
  padding: 10px 20px;
}

.nav-dropdown::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-bottom-color: #fff;
  border-top: 0;
  margin-left: -13px;
  margin-top: -13px;
}

/* Mobile navigation */
.nav-mobile {
  display: none;
}

#nav-toggle {
  cursor: pointer;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #6a6d73;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/* ============ CLASS ON/OFF POUR LES ELEMENTS SICKY/RESPONSIVE ============ */

/* BTN STICY MODE */

.btn_register_sticky {
  margin-right: 25px;
  display: none;
}

.enable {
  display: block;
}

.disable {
  display: none;
}

/* ============ CONTAINER BTN CREATE ID / ACCOUNT READY ============ */

.container_createId_accountReady {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link_ready_account {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.link_ready_account::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: calc(100% - 10px);
  height: 2px;
  background-color: #ffcb05;

  transition: transform 0.3s ease-in-out;
}

.link_ready_account::after {
  content: ".";
  position: absolute;
  bottom: -10px;
  right: 2px;
  font-size: 20px;
  color: #ffcb05;
  transform: scaleX(1);
}

.btn_create_id {
  margin: 33px auto 14px auto;
}

/* ============ RESPONSIVE ============ */

/* menu */

@media only screen and (max-width: 798px) {

  .icon_connect{
    padding: 0px 19px;
  }

  .container_nav {
    border-top: 10px solid #ffcb05;
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 12px 18px;
    background-color: transparent;
    z-index: 100;
}

  .box_nav_logo_left {
    width: auto;
  }

  .nav-mobile {
    display: flex;
    height: 5px;
    width: 35px;
  }

  .logo_laposte {
    display: none;
  }

  .logo_laposte_sticky {
    display: block;
  }

  .box_nav_logo_middle {
    display: none;
  }

  nav {
    width: 100%;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }

  .link_pro {
    display: none;
  }

  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
